body,
html {
    height: 100%;
    width: 100%;
    background: rgb(48, 48, 48);
}

* {
    padding: 0;
    margin: 0;
}

header {
    background: rgb(63, 151, 173);
}

.options {
    display: flex;
}

.option {
    padding: 1rem;
}

.option:hover {
    cursor: pointer;
}

.row {
    display: flex;
}

.col {
    height: 1rem;
    width: 1rem;
    border: 1px solid rgb(136, 136, 136);
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    transition: 0.3s;
}

.col:hover {
    background: rgba(0, 0, 255, 0.2);
    cursor: pointer;
}

.white {
    background: white;
}

.yellow {
    background: yellow;
}

.black {
    background: black;
}
