body,
html {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

* {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.board {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    border: 2px solid rgb(158, 158, 158);
    margin-top: 1.5rem;
}

header {
    background: rgb(63, 151, 173);
}

header > div {
    font-weight: bold;
}

.options {
    display: flex;
}

.option {
    padding: 1rem;
    text-transform: uppercase;
}

.option:hover {
    cursor: pointer;
}

.row {
    display: flex;
}

.cel {
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid rgb(214, 214, 214);
}

.green > .innerCel {
    height: 1.5rem;
    width: 1.5rem;
    background: rgb(255, 0, 212);
    animation: scale 4s;
}

.cel:hover {
    cursor: pointer;
}

.green {
    background: purple;
}

.yellow {
    background: yellow;
}

.red {
    background: rgb(255, 0, 0);
}

.black {
    background: black;
}

.orange {
    background: orange;
}
.blue {
    background: rgb(0, 183, 255);
}

header > div > div.active {
    background: blue;
}

@keyframes scale {
    0% {
        transform: scale(0.5);
        background: rgb(51, 0, 47);
    }
    25% {
        transform: scale(1.25);
        background: purple;
    }
    50% {
        transform: scale(1);
    }
    100% {
        background: rgb(255, 0, 212);
    }
}
