:root {
    --primary: blue;
    --secondary: orange;
}

html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    padding: 0;
    margin: 0;
}

h1 {
    display: flex;
    justify-content: center;
}

#controls {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

#controls > .control {
    padding: 1rem;
    margin: 1rem;
}

#controls > .control:hover {
    background: red;
    cursor: pointer;
}

#controls > .active {
    background: red;
}

#board {
    border: 1px solid gray;
}

.row {
    display: flex;
}

.cell {
    height: 2rem;
    width: 2rem;
    border: 1px solid gray;
}
